@charset "utf-8";

/*
.container-md {
    border: 2px solid black;
    height: auto;
   
   
}

.justify-content-center{
    border: 2px solid blue;
    margin: 20px;
}

.col-6 {
    border: 2px solid green;
    margin: 20px;
}

.col-12,
.col-11,
.col-10,
.col-9,
.col-8,
.col-7,
.col-5,
.col-4,
.col-3,
.col-2 {
    border: 2px solid purple;
    margin: 20px;
}

*/